html body {
    display: grid;
    grid-template-rows: 5em auto 6em;
    grid-template-columns: 100%;
    grid-template-areas: "navbar"
                         "main"
                         "footer";
 background-color: rgb(33, 32, 32);
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    margin: 0;
    gap: 1em;
    position: absolute;
}

.icon-menu-movil{
    display: none;
}
.header{
grid-area: navbar;
width: 100%;
background-color: rgba(39, 38, 38, 1);

}

.navbar{
    display: flex;
    align-items: center;
    height: 100%;
    width: 96%;
    justify-content: space-between;
}

.logo-nav{
    width: auto;
}

.logo-nav > .brand{
    padding-left: 0.8em;
}

.menu > .menu_links{
    text-decoration: none;
    color: white;
}

.menu > .menu_links:hover{
    cursor: pointer;
}

.option-menu{
    display: flex;
    justify-content: center;
    transition: all 5s ease-in-out;

}

.option-menu > .menu{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5em;
    color: white;
}

/* .search-product{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}


#menu-movil{
    display: none;
}
/*media query*/
@media (max-width: 700px) {
    /*mostart icono de movil*/
    .icon-menu-movil{
        display: block;
    }

    /*ocultar menu*/
    .option-menu{
        display: none;
    }

    .menu .menu_links {
        padding: 0 60% 0 0;
        font-size: 1.5em;
        padding-left: 30px;
    }

    .menu {
     display: flex;
     flex-direction: column;   
    }
}

.input-menu:checked + .option-menu {
    display: block;
    position: absolute;
    background-color:  rgb(40, 39, 39);;
    min-height: 100vh;
    top: 0px;
    width: 50%;
}

.mobile-brand {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 3px 0 0 34px;
}

.logo-user{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44%;
    background-color: white;
    border-radius: 49%;
}
